/******BASE STILES********/

.header-pages, footer {
    width: 100%;
    background: url(../img/mainbg.png) no-repeat;
    background: linear(rgb(204, 202, 189), grey,);
}

.header-pages a img {
    max-width: 44px;
    border-radius: 15px;
    background: black;
}

.social-contact  {
    text-align: right;
    border-bottom: 2px inset coral;
}

table,
th,
td {
    border: 1px solid coral;
    border-collapse: collapse;
    color: red;
    text-transform: capitalize;
}

th:nth-child(odd) {
    background: rgb(248, 244, 244);
}

th:nth-child(even) {
    background: rgb(250, 226, 216);
}

section h4,
section h3 {
    color: brown;
    background: rgb(128, 128, 128);
    background: black;
    display: block;
    padding: 3px;
    border-right: 3px ridge white;
    border-bottom: 1px ridge white;
    border-radius: 15px;
    box-shadow: 5px 5px red;
    margin: 2px;
    color: coral;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

.ref a {
    display: block;
    color: brown;
    text-decoration: underline;
    padding: 3px;
}

footer {
    text-transform: capitalize;
    padding: 20px;
}

datalist {
    display: none;
}


.hide {
    display: none;
}