
*, *::after, *::before, html, body, div > img, img {
    box-sizing: border-box;
}
body, div.container, main section  {
    background: #000;
    box-sizing: border-box;
}

a img {
    box-sizing: border-box;
}




