/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
    header,
    .header-page,
    #main-content-container,
    footer {
        width: 100%;
        margin: 10px auto;
    }
    .header-page {
        background: black;
        padding: 5px;
        box-sizing: border-box;
    }
    .social-contact {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .landing-nav div,
    .landing-nav div>a {
        display: block;
        background: white;
        color: black;
        padding: 3px;
        border-right: 1px ridge white;
        border-bottom: 1px ridge white;
        border-radius: 15px;
        margin: 10px;
        box-shadow: 3px 3px red;
        text-transform: uppercase;
        text-align: center;
        font-weight: bolder;
    }
    .menu-icon {
        padding: 5px;
        display: inline-block;
        width: 40px;
        box-sizing: border-box;
        background: white;
        border-right: 1px ridge white;
        border-bottom: 1px ridge white;
        box-shadow: 3px 1px red;
        border-radius: 10px;
        margin-right: 5px;
    }
    .menu-icon span {
        border-bottom: 3px red solid;
        display: block;
        padding: 3px;
        max-width: 40px;
        border-radius: 15px;
    }
    .landing {
        border-radius: 5px 5px;
    }
    .nav-wrapper {
        background: red;
        padding: 7px;
    }
    .input-field,
    .input-search {
        background: #000;
        background: white;
        border-radius: 10px;
        padding: 5px;
        width: 100%;
    }
    .input-search::placeholder {
        color: red;
        text-transform: capitalize;
    }
    .side-nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        opacity: 1;
        overflow-x: auto;
        padding-top: 60px;
        transition: 0.5s;
        box-sizing: border-box;
        background: black;
        color: coral;
        height: 100%;
        text-align: center;
        border: 1px groove red;
    }
    .side-nav a {
        padding: 5px 5px 5px 15px;
        text-decoration: none;
        font-size: 22px;
        transition: 0.3s;
        text-transform: uppercase;
        display: block;
        color: coral;
        text-align: center;
        border-right: 3px ridge white;
        border-bottom: 1px ridge white;
        margin: 5px;
        box-shadow: 1px 1px red;
        text-transform: capitalize;
        font-family: "gill"
    }
    .side-nav a:hover {
        color: #fff;
    }
    .side-nav .btn-close {
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 36px;
        margin-left: 50px;
    }
    main section,
    main aside {
        /*padding: 10px;*/
        background: white;
        width: 98%;
        margin: 10px auto;
    }
    .artist-resume {
        background: url(../img/mainbg.png) no-repeat;
        background-attachment: fixed;
    }
    figure {
        display: block;
        text-align: center;
        margin: 1px;
    }
    .artist-resume div,
    .artist-resume img {
        width: 100%;
        text-align: center;
        margin: 5px auto;
    }
    .artist-resume table,
    th,
    td {
        border: 1px solid salmon;
        border-collapse: collapse;
    }
    table {
        width: 98%;
        margin: 0 auto;
        text-align: center;
    }
    tbody {
        display: flex;
    }
    tr {
        flex: 1;
    }
    th,
    td {
        display: block;
    }
    th:nth-child(odd) {
        background: rgb(248, 244, 244);
    }
    th:nth-child(even) {
        background: rgb(117, 116, 116);
    }
}

/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* Styles */
}

/* 
iPads (portrait and landscape)
 ----------- 
 */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /*Styles*/
    .header-page {
        background-image: url("../img/mainbg.png");
        border-right: 1px ridge rgb(124, 30, 13);
        border-bottom: 1px ridge rgb(124, 30, 13);
        box-shadow: 3px 3px red;
    }
    .social-contact {
        text-align: left;
    }
    .landing {
        display: block;
        color: black;
        background: white;
        border-right: 1px ridge white;
        border-bottom: 1px ridge white;
        box-shadow: 3px 3px red;
        padding: 10px;
        border-radius: 15px;
        margin: 20px auto;
        text-transform: uppercase;
        text-align: center;
        font: 22px bolder;
        width: 50%;
    }
    .landing-nav {
        text-align: center;
        margin: 10px auto;
    }
    .landing-nav-subcontainer a {
        border-radius: 10px 10px;
        border-top: 2px ridge red;
        border-bottom: 2px ridge red;
        color: rgb(216, 216, 216);
        background: #000;
        padding: 10px;
        margin: 10px auto;
        text-transform: uppercase;
        font-weight: bolder;
        color: coral;
        text-align: center;
        border-right: 3px ridge white;
        border-bottom: 1px ridge white;
        border-radius: 15px;
        margin: 5px;
        box-shadow: 5px 5px red;
        width: 90px;
    }
    .nav-wrapper {
        background: red;
        padding: 7px;
        margin: auto;
        width: 50%;
    }
    .input-field,
    .input-search {
        background: #000;
        background: white;
        border-radius: 10px;
        padding: 5px;
    }
    .input-search::placeholder {
        color: red;
        text-transform: capitalize;
    }
    .side-nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        opacity: 1;
        overflow-x: auto;
        padding-top: 60px;
        transition: 0.5s;
        box-sizing: border-box;
        background: black;
        color: coral;
        height: 100%;
        text-align: center;
        border: 1px groove red;
    }
    .side-nav a {
        padding: 5px 5px 5px 15px;
        text-decoration: none;
        font-size: 22px;
        transition: 0.3s;
        text-transform: uppercase;
        display: block;
        color: coral;
        text-align: center;
        border-right: 3px ridge white;
        border-bottom: 1px ridge white;
        margin: 5px;
        box-shadow: 1px 1px red;
        text-transform: capitalize;
        font-family: "gill"
    }
    .side-nav a:hover {
        color: #fff;
    }
    .side-nav .btn-close {
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 36px;
        margin-left: 50px;
    }
}

/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}

/**********
    iPad 3
    **********/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
    .header-page {
        background-image: url("../img/mainbg.png");
        border-right: 1px ridge rgb(124, 30, 13);
        border-bottom: 1px ridge rgb(124, 30, 13);
        box-shadow: 3px 3px red;
    }
    .social-contact {
        text-align: right;
    }
    .landing {
        display: block;
        color: black;
        background: white;
        border-right: 1px ridge white;
        border-bottom: 1px ridge white;
        box-shadow: 3px 3px red;
        padding: 10px;
        border-radius: 15px;
        margin: 20px auto;
        text-transform: uppercase;
        text-align: center;
        font: 22px bolder;
        width: 50%;
    }
    .landing-nav {
        text-align: center;
        margin: 10px auto;
    }
    .landing-nav-subcontainer a {
        border-radius: 10px 10px;
        border-top: 2px ridge red;
        border-bottom: 2px ridge red;
        color: rgb(216, 216, 216);
        background: #000;
        padding: 10px;
        margin: 10px auto;
        text-transform: uppercase;
        font-weight: bolder;
        color: coral;
        text-align: center;
        border-right: 3px ridge white;
        border-bottom: 1px ridge white;
        border-radius: 15px;
        margin: 5px;
        box-shadow: 5px 5px red;
        width: 90px;
    }
    .nav-wrapper {
        background: red;
        padding: 7px;
        margin: auto;
        width: 50%;
    }
    .input-field,
    .input-search {
        background: #000;
        background: white;
        border-radius: 10px;
        padding: 5px;
    }
    .input-search::placeholder {
        color: red;
        text-transform: capitalize;
    }
    .hide {
        display: none;
    }

    #main-content-container {
        display: flex;
    }
    .mini-wrapper {
        width: 80%;
    }
    .side-nav {
        height: 100%;
        order: -1;
        flex: 1;
        widows: 18%;
        padding-top: 60px;
        box-sizing: border-box;
        background: black;
        color: coral;
        height: 100%;
        text-align: center;
        border: 1px groove red;
    }
    .side-nav a {
        padding: 5px 5px 5px 15px;
        text-decoration: none;
        font-size: 22px;
        transition: 0.3s;
        text-transform: uppercase;
        display: block;
        color: coral;
        text-align: center;
        border-right: 3px ridge white;
        border-bottom: 1px ridge white;
        /* border-radius: 15px; */
        margin: 5px;
        box-shadow: 1px 1px red;
        text-transform: capitalize;
        font-family: "gill"
    }
    .side-nav a:hover {
        color: #fff;
    }
    .side-nav .btn-close {
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 36px;
        margin-left: 50px;
    }

    /*---- referans----*/
}

/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 6, 7, 8 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone X ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* iPhone XS Max, XR ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* Samsung Galaxy S3 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* Samsung Galaxy S4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* Samsung Galaxy S5 ----------- */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}